body {
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', Helvetica, sans-serif;
    overflow-x: hidden;
    padding-left: 150px;
    background-image: url("background.jpg");
    color: #595959; 
}

p, a {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #707070; 
}

#small_text {
    font-size: 12px;
    color: #FD8F80;
    letter-spacing: 2px;
    line-height: 15px;
    letter-spacing: 2px;
}

a {
    border-bottom: 1px dashed #FF7A67;
    text-decoration: none;
}

a:hover {
    color: #FD8F80;
    text-decoration: none;
    border-bottom: 0px dashed #FD8F80;
    transition: all .2s ease-in-out;
}

h2 {
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 22px;
}

img {
    display: block;
    margin: 0 auto 20px;
    pointer-events: none;
    float: left;
    padding-top: 10px;
}

section { 
    padding: 100px 0;
}


/* ======= Responsive ======= */

@media (max-width: 500px) {
    img { width: 150px; }
    body { 
        padding-left: 50px; 
        padding-right: 50px; 
    }
    h2 { padding-top: 50px; }
}

@media (max-width: 800px) {
    body .container {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    body { 
        padding-left: 50px; 
        padding-right: 50px; 
    }
    h2 { padding-top: 50px; }
    img { width: 100px; }
}

@media (min-width: 800px) {
    body .container {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    body { padding-right: 50px; }
    h2 { padding-top: 50px; }
    img { width: 130px; padding-top: 50px;}
}
