<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/project-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <div class="col-xs-8 col-centered" id="project-content">

            <p id="button" class="back-button"> << HOME </p>

            <!-- intro -->
            <h2> Design Internship at Microsoft </h2>
            <p> During the summer of 2016, I was a UI/UX Design Intern in the <a href="http://microsoftnewengland.com/students">Microsoft Garage</a>
            internship program based in Cambridge, Massachusetts. In accordance with the entrepreneurial spirit of the internship, we were tasked with
            shipping a project in just 12 weeks. I worked on two teams, each consisting of 6 developers and myself. Throughout the internship, we practiced an agile scrum development process,
            which included weekly sprint planning, careful feature prioritization, and constant iteration.
            </p>
            <!-- end of intro -->

            <hr>

            <!-- Project Santorini -->
            <h3> Project Santorini </h3><br>

            <p id="small_text"> PROJECT OVERVIEW </p>
            <p> Project Santorini is a unique photo experience that evokes nostalgia and the thrill of re-discovery. An established group at Microsoft was
            interested in creating a new and innovative photo experience, and they asked us to build it. Under the guidance of that group and the directors of
            the Garage internship, we brought Project Santorini from a concept to a shipped Windows app in 3 months. The name "Project Santorini" is a temporary
            codename while the app is still in beta. </p>
            <br>


            <p id="small_text"> MY ROLE </p>
            <p> Concept ideation, creating user workflows, prototyping interaction, designing wireframes and high fidelity mockups, user research and testing.</p>
            <br>


            <p id="small_text"> USER RESEARCH </p>
            <p> Since we were given such a broad prompt, we started by conducting user research in order to better understand the current photos space.
            Through our user research interviews, we learned that though there are many useful photo organizing and editing apps available, unmet user
            needs still remain. Here's what people told us: </p><br>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_user1.jpg"></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/microsoft/santorini_user2.jpg"></div>
            </div>
            <div class="col-xs-12"><img class="media" src="../assets/microsoft/santorini_user3.jpg"></div>


            <p id="small_text"> WHAT WE LEARNED </p>
            <p>
                <ul>
                    <li> People struggle to feel <b>emotionally connected</b> to their digital photos </li>
                    <li> Because it's so easy to snap photos with digital devices, people often have large photo libraries that they rarely ever revisit </li>
                    <li> Many people feel <b>overwhelmed</b> by the sheer size of their photo library </li>
                    <li> Seeing old photos evokes positive moments of <b>nostalgia</b> and <b>reflection</b> </li>
                </ul>
            </p>
            <br>


            <p id="small_text"> IDEATION </p>
                <div class="col-xs-12" id="group"><img class="single_media" src="../assets/microsoft/santorini_ideation1.jpg">
                    <p class="subtext"> "What exists in the photo space already? What can we add to the space?" </p>
                </div>
                <p> We considered:
                    <ul>
                        <li> How can we help people connect with their past memories in a delightful and compelling way? </li>
                        <li> How can we push boundaries in the existing photos space? </li>
                        <li> How will can we clearly communicate a new photo concept to our stakeholders and garner their support? </li>
                    </ul>
                </p>
            <br>


            <p id="small_text"> INITIAL PROTOTYPING </p>
            <div class="col-xs-12" id="group">
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_prototyping1.jpg"></div>
                <div class="col-md-8 col-xs-12" id="left"><img class="single_media" src="../assets/microsoft/santorini_prototyping2.png">
                    <p class="subtext"> A paper prototype </p>
                </div>
                <div class="col-xs-12"><img class="single_media" src="../assets/microsoft/santorini_prototyping.gif"></div>
            </div>
            <br>


            <!-- <p id="small_text">CHALLENGES</p>
            <p> During </p>
            <br> -->


            <p id="small_text">ITERATING ON FEEDBACK</p>
            <div class="col-xs-12" id="group">
                <div class="col-xs-6" id="right"><img class="single_media" src="../assets/microsoft/santorini_iteration1.png">
                    <p class="subtext"> Tracking progress on design and code bugs </p>
                </div>
                <div class="col-xs-6" id="left"><img class="single_media" src="../assets/microsoft/santorini_iteration2.png">
                    <p class="subtext"> Improving navigation based on user feedback </p>
                </div>
            </div>


            <br>


            <p id="small_text">RESULT & REFLECTION</p>
            <div class="col-xs-12" id="group">
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_final1.png"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_final2.png"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_final3.png"></img></div>
            </div>
            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/microsoft/santorini_satya.png">
                <p class="subtext"> Microsoft's CEO Satya <a href="https://twitter.com/satyanadella/status/771079179999731712">tweeted</a> about the project! 😮 </p>
            </div>
            <br>


            <p id="small_text"> THE TEAM </p>
            <div class="col-xs-12"><img class="single_media" src="../assets/microsoft_banner.png"></img>
                <p class="subtext"> Left to right: Subby Olubeko, me, Connor Cooper, Arianna Benson, Veronica Lee, Anna Pfoertsch, John Martin, & Georgie Halpern. </p>
            </div>
            <!-- end of Project Santorini -->

            <!-- Ada -->
            <!-- <h3> Ada </h3>
            <p> A Visual Studio Team Services (VSTS) and Slack bot. Type less, do more. </p><br>
            <div class="col-xs-12"><img class="media" src="../assets/print/boston.png"></img></div> -->
            <!-- photo of the team -->
            <!-- end of Ada -->


            <p id="button" class="back-button"> << HOME </p>

        </div> <!-- end of column -->
    </div> <!-- end of container -->

    <div class="col-xs-12 footer"> <hr id="footer"> 📩 Contact: katy.ma@wellesley.edu </div>

    <!--  Scripts -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
