<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/project-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <div class="col-xs-9 col-centered" id="project-content">

            <p id="button" class="back-button"> << HOME </p>

            <!-- intro -->
            <h2> Design Internship at Microsoft </h2>
            <p> I spent the summer of 2016 as a UI/UX design intern at <a href="http://microsoftnewengland.com/students">Microsoft Garage</a>
            in Cambridge, Massachusetts. An entrepreneurial spirited internship by design, each team was responsible for shipping a project
            at the end of the summer. I worked on two teams that each consisted of 6 developers and myself. Throughout the 12-week internship,
            we practiced an agile scrum development process, which included weekly sprint planning, careful feature prioritization, and constant iteration.
            (Note: At this time, I can only discuss one of the projects I worked on.)</p>
            <!-- end of intro -->

            <hr>

            <!-- Project Santorini -->
            <h3> Project Santorini </h3><br>

            <div class="col-xs-12" id="group">
                <div class="col-md-5 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/santorini_intro.png">
                    <p class="subtext"> Screenshots of Project Santorini </p>
                </div>
                <div class="col-md-7 col-xs-12" id="left"> <p id="project_subheading" style="padding-top:0"> PROJECT OVERVIEW </p> <p> Project Santorini is a Universal Windows Platform (UWP)
                photo application that evokes nostalgia and the thrill of re-discovery. An established group at Microsoft was interested in prototyping an innovative,
                new photo experience, and they asked us to build it. Under the guidance of that group and the directors of the Garage internship, we developed
                Project Santorini from a concept to a shipped app in 3 months. The name "Project Santorini" is a temporary codename. </p>
                </div>
            </div>


            <p id="project_subheading"> MY ROLE </p>
            <p> Concept ideation, creating user workflows, prototyping interaction, designing wireframes and high fidelity mockups, user research and testing.</p>
            <br>


            <p id="project_subheading"> MARKET RESEARCH </p>
            <p> Since we were given such an open-ended task, we started by researching the current photos space. Companies
            like Google, Microsoft, Apple, and many others have all created photo apps for their respective platforms.
            Immediately, we noticed that virtually every photo app had the same, chronologically ordered grid interface.</p></br>
            <div class="col-xs-12" id="group">
                <div class="col-xs-4" id="right"><img class="single_media" src="../assets/microsoft/windows_photos.jpg">
                    <p class="subtext"> Windows photos </p>
                </div>
                <div class="col-xs-4" id="right"><img class="single_media" src="../assets/microsoft/google_photos.png">
                    <p class="subtext"> Google photos </p>
                </div>
                <div class="col-xs-4" id="right"><img class="single_media" src="../assets/microsoft/apple_photos.png">
                    <p class="subtext"> Apple photos </p>
                </div>
            </div>


            <p id="project_subheading"> USER RESEARCH </p>
            <p> Next, we conducted user research interviews to better people's user needs and experiences. Through these interviews,
            we learned that though there are many useful photo organizing and editing apps available, unmet user needs still remained.
            Here's what people told us: </p><br>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_user1.jpg"></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/microsoft/santorini_user2.jpg"></div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_user3.jpg"></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/microsoft/santorini_user4.jpg"></div>
            </div>
            <p class="section-title">What we learned</p>
            <p>
                <ol>
                    <li> Because it's so easy to snap photos with digital devices, people often have large photo libraries that they rarely ever revisit </li>
                    <li> Many people feel <b>overwhelmed</b> by the sheer size of their photo library, and struggle to feel <b>emotionally connected</b> to their digital photos </li>
                    <li> Seeing old photos evokes positive moments of <b>nostalgia</b> and <b>reflection</b> </li>
                    <li> The photos space is already saturated with an abundance of established photo organization and editing apps. We didn't need to create another one! </li>
                </ol>
            </p>
            <br>


            <p id="project_subheading"> IDEATION & PROTOTYPING </p>
            <div class="col-xs-12" id="group">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/santorini_ideation1.jpg">
                    <p class="subtext"> Brainstorming session </p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <p class="section-title">Questions we asked</p>
                <ul>
                    <li> <i>How can we help people connect with their past memories in a delightful and compelling way? </i></li>
                    <li> <i>How can we push boundaries in the existing photos space? </i></li>
                    <li> <i>How will can we clearly communicate a new photo concept to our stakeholders and garner their support? </i></li>
                </ul>
            </p>
            <br>
            <p> Users are already familiar with <b>horizontal photo navigation</b> through interfaces like photo slideshows or Apple's file preview.
            They're also familiar with <b>vertical photo navigation</b> systems like Instagram and Facebook. </p>
            <br>
            <p class="emphasize">What if we built the first dual-axis photo exploration experience?</p>
            <div class="col-xs-12" id="group">
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/microsoft/santorini_prototyping1.jpg"></div>
                <div class="col-md-8 col-xs-12" id="left"><img class="single_media" src="../assets/microsoft/santorini_prototyping2.png">
                    <p class="subtext"> A paper prototype </p>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10"><img class="single_media" src="../assets/microsoft/santorini_prototyping.gif">
                        <p class="subtext"> An early prototype of the dual-axis concept, made in Powerpoint </p>
                    </div>
                </div>
            </div>
            <p> To get some feedback on our early ideas, we showed people our <b>dual-axis paper prototype</b> and watched them interact with it.
                At each step, we asked people what they were hoping to achieve, and what they expected the outcome of their interactions to be.
                Taking two familiar UX patterns and combining them to create an entirely new user experience <b>intrigued and delighted</b> our users,
                so we kept going. </p>
            <br>


            <p id="project_subheading">FURTHER DEVELOPMENT</p>
            <div class="col-xs-12" id="group">
                <div class="col-md-3 col-xs-6" id="right"><img class="single_media" src="../assets/microsoft/login1.png"></div>
                <div class="col-md-3 col-xs-6" id="right"><img class="single_media" src="../assets/microsoft/login2.png"></div>
                <div class="col-md-3 col-xs-6" id="right"><img class="single_media" src="../assets/microsoft/login4.png"></div>
                <div class="col-md-3 col-xs-6" id="right"><img class="single_media" src="../assets/microsoft/login3.png"></div>
            </div>
            <p class="subtext"> Wireframes of the sign-in/account creation experience </p>
            <div class="col-xs-12" id="group">
                <div class="col-md-1"></div>
                <div class="col-md-3 col-xs-6" id="left"><img class="single_media" src="../assets/microsoft/mockup1.png"></div>
                <div class="col-md-7 col-xs-6" id="left"><img class="single_media" src="../assets/microsoft/mockup5.png"></div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-1"></div>
                <div class="col-xs-10">
                    <p class="section-title" style="text-align:center"> Collage view </p>
                    <p class="subtext">Photos that are rich in metadata and related to many other photos are featured in this view.
                    Because these photos are associated with many of the user's memories, they offer the highest likelihood of creating the <b>evocative
                    experience</b> we wanted to achieve. The number of photos displayed here is limited to 6 in order to prevent users from endlessly scrolling
                    (like the grid interfaces we didn't want to recreate), and encourage them to enter the exploration view. </p>
                </div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-1"></div>
                <div class="col-xs-3" id="left"><img class="single_media" src="../assets/microsoft/mockup3.png"></div>
                <div class="col-xs-7" id="left"><img class="single_media" src="../assets/microsoft/mockup6.png"></div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-1"></div>
                <div class="col-xs-10">
                    <p class="section-title" style="text-align:center"> Explore view </p>
                    <p class="subtext">This is where the dual-axis photo exploration interface lives. Swiping <b>left and right</b>
                    brings you to other photos taken at the current location, ordered chronologically by time. Swiping <b>up and down</b> brings you to
                    photos taken at other locations, ordered chronologically by time. Our goal was to create an immersive and captivating experience where
                    people could get lost reminiscing through their memories. </p>
                </div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/santorini_iteration1.png">
                    <p class="subtext"> Tracking progress on our bugs </p>
                </div>
                <div class="col-md-6 col-xs-12" id="left"><img class="single_media" src="../assets/microsoft/santorini_iteration2.png">
                    <p class="subtext"> Improving navigation based on user feedback </p>
                </div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-1"></div>
                <div class="col-xs-10">
                    <p class="section-title" style="text-align:center"> Iterate and repeat </p>
                    <p class="subtext"> During each sprint, we prioritized work based on the user feedback, testing, and research we collected <thead>
                    previous week. I watched how people interacted with the app, asked them about the outcomes they expected, and welcomed
                    their suggestions. As a designer, I had to consider the inevitable bugs and engineering challenges that cropped up, while striving
                    to create solid end-to-end experiences for our users.
                    </p>
                </div>
            </div>
            <br>


            <p id="project_subheading">RESULTS & REFLECTION</p>
            <div class="col-xs-12" id="group">
                <div class="col-md-4 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/santorini_final1.png"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/santorini_final2.png"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/santorini_final3.png"></img></div>
            </div>
            <p class="subtext"> Windows Store app preview screenshots </p>
            <br>
            <p class="section-title">What we accomplished</p>
                <ul>
                    <li> Shipped Project Santorini as a
                    <a href="https://www.microsoft.com/en-us/garage/project-details.aspx?project=project-santorini">
                    beta on the Windows store</a></li>
                    <li> Handed off the project to our sponsor team </li>
                    <li> Featured on <a href="http://bit.ly/2dJgTzW">Microsoft's blog</a></li>
                    <li> Created the first ever dual-axis photo exploration interface </li>
                    <li> Presented our project to stakeholders in Redmond, WA </li>
                    <li> Implemented seamless transitions throughout the app </li>
                    <li> Iterated and improved the product each sprint </li>
                </ul>
            </p>
            <p class="section-title" style="padding-top: 4%">Personal takeaways</p>
            <p> Working on Project Santorini was an wonderful learning opportunity. I learned how to communicate my designs to a team of engineers,
                what engineering challenges certain design decisions would pose, and how to design collaboratively with another designer (say hello
                to <a href="http://chizukeki.com">Anna</a>, my co-designer!). Seeing our every decision reflected in a real, live application design feel more
                tangible than ever before. Developing something from nothing was an incredible feeling.
            </p>
            <br>
            <div class="col-xs-12" style="content-align:center">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-xs-12" id="right"><img class="single_media" src="../assets/microsoft/satya.jpg"></img>
                    <p class="subtext"> <a href="https://twitter.com/satyanadella/status/771079179999731712">Shoutout</a> from CEO Satya! 😮 </p>
                </div>
            </div>


            <p id="project_subheading"> THE TEAM </p>
            <div class="col-xs-12"><img class="single_media" src="../assets/microsoft_banner.png"></img>
                <p class="subtext"> Left to right: Subby Olubeko, me, Connor Cooper, Arianna Benson, Veronica Lee, Anna Pfoertsch, John Martin, & Georgie Halpern. </p>
            </div>
            <!-- end of Project Santorini -->


            <p id="button" class="back-button"> << HOME </p>

        </div> <!-- end of column -->
    </div> <!-- end of container -->

    <div class="col-xs-12 footer"> <hr id="footer"> 📩 Contact: katy.ma@wellesley.edu </div>

    <!--  Scripts -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
