<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <link href="../project-style.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="../assets/me.png">

</head>

<body>
    <div class="container">

        <div class="col-xs-12" id="project-content">
            <h2> Title </h2><br>
            <p> Some body text lorem ipsum some body text lorem ipsum some body text </p>
        </div> <!-- end of right column -->


    </div> <!-- end of container -->


    <!--  Scripts -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
