<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/project-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <div class="col-xs-7 col-centered" id="project-content">

            <p id="button" class="back-button"> << HOME </p>

            <!-- intro -->
            <h2> Photography </h2>
            <p> I'm a freelance portrait and event photographer who has worked
            with dozens of clients in Boston and New York City.
            <br><br>
            On a personal level, I take photos to preserve memories.
            However, working with clients and friends as a freelance
            photographer has taught me a great deal about trust and empathy
            in creative process. My favorite part about being a photographer
            is winning over the trust of my subjects and capturing them at
            their best. </p>
            <!-- end of intro -->

            <hr>

            <!-- Recent work -->
            <h3> Recent Work </h3><br>
            <div class="col-xs-12"><img class="media" src="../assets/photography/display1.jpg"></img></div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/photography/display2.png"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/photography/display3.png"></img></div>
            </div>
            <div class="col-xs-12"><img class="media" src="../assets/photography/display4.jpg"></img></div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/photography/display5.jpg"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/photography/display6.jpg"></img></div>
            </div>
            <!-- end of Recent work -->

            <hr>

            <!-- Internship Style Guide -->
            <h3> Internship Style Guide </h3>
            <p> This editorial collaboration with Wellesley's campus style magazine
            Hey, Madeline and Wellesley Women in Business featured upperclasswomen
            who shared their internship style tips. </p> <br>

            <div class="col-xs-12"><img class="media" src="../assets/photography/pic1.jpg"></img></div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/photography/pic2.jpg"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/photography/pic3.jpg"></img></div>
            </div>

            <div class="col-xs-12">
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/photography/heymadeline.png"></img></div>
                <div class="col-md-4 col-xs-12"><img class="media" src="../assets/photography/heymadeline2.png"></img></div>
                <div class="col-md-4 col-xs-12" id="left"><img class="media" src="../assets/photography/heymadeline3.png"></img></div>
            </div>
            <p class="subtext"> Check out the articles <a href="https://heymadelinewellesley.com/category/internship-style-guide"> here </a></p>
            <!-- end of Internship Style Guide -->

            <hr>

            <!-- LinkedIn headshots -->
            <h3> Professional Headshots </h3>
            <p> LinkedIn ready. </p> <br>

            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/photography/headshot4.jpg"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/photography/headshot5.jpg"></img></div>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/photography/headshot1.jpg"></img></div>
                <div class="col-md-4 col-xs-12"><img class="media" src="../assets/photography/headshot2.jpg"></img></div>
                <div class="col-md-4 col-xs-12" id="left"><img class="media" src="../assets/photography/headshot3.jpg"></img></div>
            </div>
            <!-- end of LinkedIn headshots -->

            <hr>

            <!-- instagram -->
            <h3> Instagram </h3>
            <p> Advocate of #doitforthegram at <a href="https://www.instagram.com/thekatykat">@thekatykat </a></p><br>
            <div class="col-xs-12"> <iframe src="https://snapwidget.com/embed/code/202476"
            class="snapwidget-widget" allowTransparency="true" frameborder="0"
            scrolling="no" style="border:none; overflow:hidden; width:100%;
            height:700px"></iframe> </div>
            <!-- end of instagram -->

            <p id="button" class="back-button"> << HOME </p>

        </div> <!-- end of column -->

    </div> <!-- end of container -->

    <div class="col-xs-12 footer"> <hr id="footer"> 📩 Contact: katy.ma@wellesley.edu </div>

    <!--  Scripts -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
