<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/project-style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="assets/me.png">
</head>

<body>
    <div class="container">

        <div class="col-xs-8 col-centered">

            <p id="button" class="back-button"> << HOME </p>

            <!-- intro -->
            <h2> Print & Graphic Design </h2>
            <p> A collection of recent print and illustration work. </p>
            <!-- end of intro -->

            <hr>

            <!-- Boston illustration -->
            <h3> Boston Sunset Skyline </h3>
            <p> A gift to my wonderful mentor & manager at Microsoft, George. </p><br>
            <div class="col-xs-12"><img class="media" src="../assets/print/boston.png"></img></div>
            <!-- end of Boston illustration -->

            <hr>

            <!-- The Anatomy of Type -->
            <h3> The Anatomy of Type </h3>
            <p> A little book I made to study the elements of typography. </p><br>
            <div class="col-xs-12"><img class="media" src="../assets/print/typebook1.png"></img></div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/print/typebook2.png"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/print/typebook3.png"></img></div>
            </div>
            <div class="col-xs-12"><img class="media" src="../assets/print/typebook4.png"></img></div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/print/typebook6.png"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/print/typebook5.png"></img></div>
            </div>
            <!-- end of The Anatomy of Type -->

            <hr>

            <!-- Service Opportunities at Wellesley -->
            <h3> Service Opportunities at Wellesley </h3>
            <p> Brochure for Wellesley College Career Education's service team. </p><br>
            <div class="col-xs-12"><img class="media" src="../assets/print/service1.png"></img></div>
            <div class="col-xs-12"><img class="media" src="../assets/print/service2.png"></img></div>
            <div class="col-xs-12"><img class="media" src="../assets/print/service3.png"></img></div>
            <!-- end of Service Opportunities at Wellesley -->


            <p id="button" class="back-button"> << HOME </p>

        </div> <!-- end of column -->

    </div> <!-- end of container -->

    <div class="col-xs-12 footer"> <hr id="footer"> 📩 Contact: katy.ma@wellesley.edu </div>

    <!--  scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
