<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/project-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <div class="col-xs-7 col-centered" id="project-content">

            <p id="button" class="back-button"> << HOME </p>

            <!-- <div class="col-xs-12">
                <iframe width="438" height="930" src="//invis.io/9J8QJ25ND" frameborder="0" allowfullscreen></iframe>
            </div> -->

            <p id="button" class="back-button"> << HOME </p>

        </div> <!-- end of column -->
    </div> <!-- end of container -->

    <div class="col-xs-12 footer"> <hr id="footer"> 📩 Contact: katy.ma@wellesley.edu </div>

    <!--  Scripts -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
