<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Katy Ma - Designer, Developer, Photographer</title>

    <!-- Styling -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/project-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="assets/me.png">
</head>

<body>
    <div class="container">

        <div class="col-xs-8 col-centered" id="project-content">

            <p id="button" class="back-button"> << HOME </p>

            <!-- intro -->
            <h2> Wellesley Hacks, 2015-2016 </h2>
            <p> WHACK is a hackathon held at Wellesley College each fall and spring semester.
            A hackathon focused on supporting women in tech, WHACK brings together students from
            schools throughout the greater Boston area for a weekend of ideation, hacking, and
            mentorship. I've been designing WHACK's branding and visual identity since fall 2015. </p><br>

            <div class="col-xs-12" id="group">
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/whack1.jpg"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/whack2.jpg"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/whack3.jpg"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/whack4.jpg"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/whack5.jpg"></img></div>
                <div class="col-md-4 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/whack6.jpg"></img></div>
                <p class="subtext"> Photos courtesy of <a href="https://mlh.io">Major League Hacking </a></p>
            </div>
            <!-- end of intro -->

            <hr>

            <!-- Fall 2015 -->
            <h3> Fall 2015 </h3>
            <p> WHACK needed someone to design branding assets, and I wanted to gain
                more illustration & branding experience, so I joined the team! </p>

            <div class="col-xs-12" id="group">
                <div class="col-xs-12"><img class="single_media" src="../assets/wellesleyhacks/fall_15_concepts.jpg"></img></div>
                <p class="subtext"> Experimenting with various color combinations </p>
            </div>

            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/fall_15_logo1.jpg"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/wellesleyhacks/fall_15_logo2.jpg"></img></div>
            </div>

            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/fall_15_buttons.jpg"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/wellesleyhacks/fall_15_sticker.jpg"></img></div>
            </div>
            <!-- end of Fall 2015 -->

            <hr>

            <!-- Spring 2016 -->
            <h3> Spring 2016 </h3>
            <p> Hoping to briefly escape the frozen tundra that is Boston each Feburary,
            we themed this hackathon Camp WHACK — inspired by campfires, smores, and
            twinkly lights. </p>

            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/spring_16_logo1.jpg"></img></div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/wellesleyhacks/spring_16_logo2.png"></img></div>
            </div>

            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/spring_16_banner1.png"></img>
                <p class="subtext"> Facebook banner </p>
            </div>

            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/spring_16_website.png"></img>
                <p class="subtext"> Spring '16 website </p>
            </div>

            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/spring_16_poster.png"></img>
                <p class="subtext"> Marketing poster </p>
            </div>
            <div class="col-xs-12"><img class="media" src="../assets/wellesleyhacks/spring_16_jar.jpg"></img></div>
            <!-- end of Spring 2016 -->

            <hr>

            <!-- Fall 2016 -->
            <h3> Fall 2016 </h3>
            <p> A new year meant a new look for WHACK. I went back to the drawing board
            and started sketching.</p>

            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/fall_16_sketches.png"></img>
                <p class="subtext"> Some initial sketches and ideas </p>
            </div>
            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/fall_16_concepts.png"></img>
                <p class="subtext"> More logo concepts </p>
            </div>
            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/fall_16_logo.jpg"></img>
                <p class="subtext"> Final logo </p>
            </div>
            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/fall_16_banner1.png"></img>
                <p class="subtext"> Facebook banner </p>
            </div>
            <div class="col-xs-12" id="group">
                <div class="col-md-6 col-xs-12" id="right"><img class="media" src="../assets/wellesleyhacks/fall_16_sticker.jpg"></img>
                    <p class="subtext"> sticker </p>
                </div>
                <div class="col-md-6 col-xs-12" id="left"><img class="media" src="../assets/wellesleyhacks/fall_16_pattern.png"></img>
                    <p class="subtext"> background pattern </p>
                </div>
            </div>
            <div class="col-xs-12"><img class="media" src="../assets/wellesleyhacks/fall_16_shirt1.png"></img></div>
            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/fall_16_shirt2.png"></img>
                <p class="subtext"> T-shirt design </p>
            </div>
            <div class="col-xs-12" id="group"><img class="single_media" src="../assets/wellesleyhacks/website.gif"></img>
                <p class="subtext"> Fall '16 website </p>
            </div>
            <!-- end of Fall 2016 -->


            <p id="button" class="back-button"> << HOME </p>

        </div> <!-- end of column -->
    </div> <!-- end of container -->

    <div class="col-xs-12 footer"> <hr id="footer"> 📩 Contact: katy.ma@wellesley.edu </div>

    <!--  scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../index.js"></script>

</body>

</html>
