.project-cover {
  width: 100%;
  margin-bottom: 80px;
}

.image-wide {
  width: 70%;
  display: block;
  margin: 20px auto 50px;
}

.project-section {
  margin: 30px auto;
  float: none;
}

h1 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 22px;
}

.footer {
  margin-top: 100px;
}
