html {
  padding-top: 3%;
}

body {
    padding-bottom: 0;
}

hr {
    margin-top: 7%;
    clear: both;
    display: block;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.col-xs-12#right {
    padding-right: 3%;
}

.col-xs-12#left {
    padding-left: 3%;
}

.col-xs-12#group {
    margin-bottom: 3%;
}


/* ==== image styling ==== */

img.single_media {
    width: 100%;
    margin-bottom: 2.5%;
    border-radius: 2px;
    pointer-events: none;
    -webkit-box-shadow: 10px 10px 56px -26px rgba(74,74,74,1);
    -moz-box-shadow: 10px 10px 56px -26px rgba(74,74,74,1);
    box-shadow: 10px 10px 56px -26px rgba(74,74,74,1);
}

img.media {
    width: 100%;
    margin-bottom: 6%;
    border-radius: 2px;
    pointer-events: none;
    -webkit-box-shadow: 10px 10px 56px -26px rgba(74,74,74,1);
    -moz-box-shadow: 10px 10px 56px -26px rgba(74,74,74,1);
    box-shadow: 10px 10px 56px -26px rgba(74,74,74,1);
}


/* ==== text styling ==== */

.subtext {
    font-size: 0.8em;
    line-height: 1.5em;
    text-align: center;
}

h2 {
    line-height: 200%;
    font-size: 2em;
}

h3 {
    padding-top: 5%;
    line-height: 150%;
    font-size: 1.5em;
}

/* ==== footer ==== */

hr#footer {
    margin-top: 0px;
}


/* ==== responsive ==== */
