html {
    padding-top: 5%;
}

body {
    font-family: 'Proxima Nova Soft', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.7em;
    overflow-x: hidden;
    background-image: url("../assets/background.jpg");
    color: #595959;
    letter-spacing: 1px;
    line-height: 32px;
}


/* ==== sidebar styling ==== */

img#my-photo {
    padding-bottom: 10%;
}


/* ==== text styling ==== */

p, a {
    color: #707070;
}

a {
    border-bottom: 1px dashed #FF7A67;
    text-decoration: none;
}

a:hover {
    color: #FD8F80;
    text-decoration: none;
    border-bottom: 0px dashed #FD8F80;
    transition: all .2s ease-in-out;
}

h2 {
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 22px;
}

#small_text {
    font-size: 0.9em;
    color: #FD8F80;
    letter-spacing: 2px;
    line-height: 1.3em;
}


/* ==== right column styling ==== */

#right-column {
    width: 100%;
}

#about-me {
    padding-bottom: 3%;
}


/* ==== show more/less bio ==== */

article {
  border-bottom: 1px solid black;
}

.read-more-button, .read-more-button {
    padding-top: 1%;
}

p#button {
    font-size: 0.85em;
    color: #FD8F80;
    letter-spacing: 2px;
}

p#button:hover {
    font-size: 0.86em;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


/* ==== projects ==== */

#project-section {
    padding-bottom: 2%;
}

.mask {
    width: 100%;
    height: 30vh;
    margin-bottom: 4%;
    display: block;
    background-size: 100%;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: inset 1px -154px 197px -23px rgba(255,145,105,0.75);
    -moz-box-shadow: inset 1px -154px 197px -23px rgba(255,145,105,0.75);
    box-shadow: inset 1px -154px 197px -23px rgba(255,145,105,0.75);
}

.mask:hover {
    -webkit-box-shadow: inset 1px -154px 197px -23px rgba(255,145,105,0.9);
    -moz-box-shadow: inset 1px -154px 197px -23px rgba(255,145,105,0.9);
    box-shadow: inset 1px -154px 197px -23px rgba(255,145,105,0.9);
    transition: .2s ease-in-out;
}

#project1 {
    background-image: url("../assets/microsoft_banner.png");
}

#project2 {
    background-image: url("../assets/uberexplore_banner.png");
}

#project3 {
    background-image: url("../assets/whack_banner.png");
}

#project4 {
    background-image: url("../assets/print_banner.png");
}

#project5 {
    background-image: url("../assets/photography_banner.png");
}

#projectName {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.project {
    font-size: 1em;
    line-height: 20px;
    letter-spacing: 1px;
    color: white;
    font-weight: normal;
    margin-top: 23%;
    margin-left: 2%;
    text-align: left;
}


/* ==== footer ==== */

.footer {
    padding: 2% 0 1% 0;
    text-align: center;
}


/* ==== responsive ==== */

@media (max-width: 800px) {

    .container {
        padding-right: 0px;
    }

    #left-column {
        padding-bottom: 15%;
    }

    #about-me {
        padding-bottom: 15%;
    }

    #project-section {
        margin-left: 0%;
    }

    #project1, #project2, #project3, #project4, #project5 {
        width: 100%;
        height: 130px;
        margin-bottom: 7%;
    }

}

@media (min-width: 1200px) {
    #left-column {
        padding-bottom: 10%;
        margin-left: 10%;
    }

    #about-me {
        padding-bottom: 3%;
    }

    #right-column {
        margin-left: 32%;
        padding-right: 10%;
    }
}
