body {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.55em;
  background-image: url("../assets/background.jpg");
  color: #3B3B3B;
  letter-spacing: 0.5px;
  line-height: 32px;
}

.social {
  padding-right: 30px;
  display: inline-block;
}

/* ==== text styling ==== */
a {
  color: inherit;
  border-bottom: 1px dashed #FF7A67;
  text-decoration: none;
}

a:hover {
  color: #FD8F80;
  text-decoration: none;
  border-bottom: 0px dashed #FD8F80;
  transition: all .25s ease-in-out;
}

h2 {
  letter-spacing: 1.5px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

#katyma {
  line-height: 35px;
  margin-bottom: 15px;
}

.place {
  letter-spacing: 1.5px;
  font-size: 22px;
  font-weight: 600;
  color: #3B3B3B;
  margin-bottom: 0;
}

.role {
  font-size: 18px;
}

.subtitle {
  opacity: 0.7;
}

.content-section {
  margin: 85px 0 100px 100px;
  padding-bottom: 70px;
  float: none;
}

.project-preview {
  padding-bottom: 350px;
}

.preview-image {
  max-width: 105%;
  border-radius: 4px;
  transition: box-shadow 0.7s;
}

.preview-image-selected {
  box-shadow: 0 4px 25px #E0E0E0;
  transition: box-shadow 0.4s;
}

.icon {
  padding-right: 10px;
}


/* ==== footer ==== */

.footer {
  padding: 50px 0;
  text-align: center;
  font-size: 0.9em;
  background-color: #F7F7F7;
}


/* ==== responsive ==== */

@media (min-width: 800px) {
  .left-col {
    margin-right: 50px;
  }

  #intro-section {
    padding-right: 50px;
    margin-top: 150px;
  }
}

@media (max-width: 1200px) {
  .container {
      padding-right: 0px;
  }

  .text-left {
    padding-right: 50px;
  }
}

@media (max-width: 600px) {
  .content-section {
    margin: 100px 0 0 0;
  }

  .text-left {
    padding-right: 30px;
  }

  .preview-image {
    width: 95%;
    margin: 50px 0 150px 0;
  }
}
